.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto, p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-weight: 300;
  margin: 0;
}

body {
  color: black;
  font-family: sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
  margin: 0;
  /* margin-bottom: 100px; */
  font-size: 700%;
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  transition: .3s ease;
}

.button {	
  border: none;
  opacity: 0.5;
  padding: 14px 50px;
  position: relative;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
}

.button:hover {
  opacity: 1;
}

@keyframes lines {
  0% {transform: translateX(-45%) rotate(90deg);}
  100% {transform: translateX(-45%) rotate(-60deg)}
}

.page {
  margin: 0 15% 2% 15%;
}

.container {
  margin: auto;
}

.overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;  
  animation: bgchange 1.75s cubic-bezier(1,0,.75,.16) forwards;
  padding-right: 30px;
}

h1 {
  display:inline-block;
  perspective: 1000px;
}

h2 {
  animation: fade 1s;
  margin: 0 0 10px 0;
}

.container h1:nth-child(1):hover {transform: perspective(1000px) rotate3d(1, -1, 0, 30deg);}
.container h1:nth-child(2):hover {transform: perspective(1000px) rotate3d(1, 1, 0, 30deg);}

@keyframes bgchange {
  0% {background-image: url(images/jellyfish.gif)}
  100% {background-image: url(images/ivan-bandura-ocean.jpg)}
}

.banner {
  padding: 8px 0;
  margin: 25px 0 0 -50%;
  text-align: center;
  color: white;
  width: 200%;
  letter-spacing: 10px;
  background-color: black;
  font-weight: 200;
  font-size: px;
}

.table {
  display: flex;
  justify-content: center;
}

.img-container img {
  margin: auto;
  max-height: 225px;
  max-width: 400px;
}

.img-container {
  display: flex;
  width: 100%;
  height: 275px;
  justify-content: center;
}

.project {
  /* background: linear-gradient(103deg, #0068bb -33%, #6400a9 92%); */
  width: 500px;
  height: auto;
  margin-top: 10px;
  transition: 0.3s ease;
}

.project:hover {
  scale: 1.03;
}

.textbox {
  padding: 0 40px;
}

p,h2,img {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease, scale 0.1s ease;
}

.fade {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  width: 20px;
  padding: 10px 10px 0 10px;
}

.icon:hover {
  scale: 1.1;
  cursor: pointer;
}